# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_name: '%env(APP_NAME)%'
    app_front_url: '%env(APP_FRONT_URL)%'
    database_host: '%env(SYMFONY__DATABASE__HOST)%'
    database_port: ~
    database_name: '%env(SYMFONY__DATABASE__NAME)%'
    database_user: '%env(SYMFONY__DATABASE__USER)%'
    database_password: '%env(SYMFONY__DATABASE__PASS)%'
    database_replica_host: '%env(SYMFONY_DATABASE_REPLICA_HOST)%'
    database_replica_name: '%env(SYMFONY_DATABASE_REPLICA_NAME)%'
    database_replica_user: '%env(SYMFONY_DATABASE_REPLICA_USER)%'
    database_replica_password: '%env(SYMFONY_DATABASE_REPLICA_PASS)%'
    mailer_transport: '%env(SYMFONY__MAIL__TRANSPORT)%'
    mailer_host: '%env(SYMFONY__MAIL__HOST)%'
    mailer_port: '%env(SYMFONY__MAIL__PORT)%'
    mailer_user: '%env(SYMFONY__MAIL__USER)%'
    mailer_password: '%env(SYMFONY__MAIL__PASSWORD)%'
    mailer_to_developer: '%env(SYMFONY__MAIL__TO__DEVELOPER)%'
    mailer_from: '%env(SYMFONY__MAIL__FROM)%'
    support_mail: '%env(SUPPORT_MAIL)%'
    secret: '%env(SYMFONY__APP__SECRET)%'
    jwt_key_pass_phrase: '%env(SYMFONY__JWT__SECRET)%'
    jwt_ttl: '%env(SYMFONY__JWT__TTL)%'
    refresh_jwt_ttl: '%env(REFRESH__JWT__TTL)%'
    reset_password_token_ttl: '%env(RESET_PASSWORD_TOKEN_TTL)%'
    otp_ttl: '%env(OTP_TTL)%'
    sms_enabled: '%env(SMS_ENABLED)%'
    plivo_auth_id: '%env(PLIVO_AUTH_ID)%'
    plivo_auth_token: '%env(PLIVO_AUTH_TOKEN)%'
    plivo_number_from: '%env(PLIVO_NUMBER_FROM)%'
    rabbit_mq_server: '%env(RABBITMQ_SERVER)%'
    rabbit_mq_port: '%env(RABBITMQ_PORT)%'
    rabbit_mq_user: '%env(RABBITMQ_USER)%'
    rabbit_mq_pass: '%env(RABBITMQ_PASS)%'
    rabbit_mq_server_test: '%env(RABBITMQ_SERVER_TEST)%'
    user_verify_token_ttl: '%env(USER_VERIFY_TOKEN_TTL)%'
    simulator_base_imei: '%env(TELTONIKA_SIMULATOR_BASE_IMEI)%'
    simulator_devices_count: '%env(TELTONIKA_SIMULATOR_DEVICES_COUNT)%'
    simulator_devices_offset_on_track_ts: '%env(TELTONIKA_SIMULATOR_DEVICES_OFFSET_ON_TRACK_TS)%'
    mapbox_key: '%env(MAPBOX_KEY)%'
    tracker_provider_host: '%env(TRACKER_PROVIDER_HOST)%'
    tracker_provider_port: '%env(TRACKER_PROVIDER_PORT)%'
    tracker_provider_url: '%env(TRACKER_PROVIDER_URL)%'
    tracker_provider_secret: '%env(TRACKER_PROVIDER_SECRET)%'
    redis.host: '%env(REDIS_HOST)%'
    redis.port: '%env(REDIS_PORT)%'
    elasticsearch_host: '%env(ELASTICSEARCH_HOST)%'
    elasticsearch_port: '%env(ELASTICSEARCH_PORT)%'
    elasticsearch_transport: '%env(ELASTICSEARCH_TRANSPORT)%'
    api_url: '%env(API_URL)%'
    fcm_server_key: '%env(FCM_SERVER_KEY)%'
    calculating_job_ttl: '%env(CALCULATING_JOB_TTL)%'
    calculating_job_memory: '%env(CALCULATING_JOB_MEMORY)%'
    aws_key: '%env(AWS_KEY)%'
    aws_secret: '%env(AWS_SECRET)%'
    aws_bucket: '%env(AWS_BUCKET)%'
    route_time_ago_for_location: '%env(ROUTE_TIME_AGO_FOR_LOCATION)%'
    traccar_web_url: '%env(TRACCAR_WEB_URL)%'
    traccar_web_user: '%env(TRACCAR_WEB_USER)%'
    traccar_web_pass: '%env(TRACCAR_WEB_PASS)%'
    memory_db_cluster: '%env(MEMORY_DB_CLUSTER)%'
    aws_chat_key: '%env(AWS_CHAT_KEY)%'
    aws_chat_secret: '%env(AWS_CHAT_SECRET)%'
    aws_chat_bucket: '%env(AWS_CHAT_BUCKET)%'
    aws_chat_region: '%env(AWS_CHAT_REGION)%'
    centrifugo_host: '%env(CENTRIFUGO_HOST)%'
    centrifugo_port: '%env(CENTRIFUGO_PORT)%'
    centrifugo_web_url: '%env(CENTRIFUGO_WEB_URL)%'
    centrifugo_api_key: '%env(CENTRIFUGO_API_KEY)%'
    centrifugo_admin_password: '%env(CENTRIFUGO_ADMIN_PASSWORD)%'
    centrifugo_admin_secret: '%env(CENTRIFUGO_ADMIN_SECRET)%'
    centrifugo_engine: '%env(CENTRIFUGO_ENGINE)%'
    centrifugo_redis_address: '%env(CENTRIFUGO_REDIS_ADDRESS)%'
    centrifugo_allowed_origins: '%env(CENTRIFUGO_ALLOWED_ORIGINS)%'
    sftp_host: '%env(SFTP_HOST)%'
    sftp_user: '%env(SFTP_USER)%'
    sftp_key: '%env(SFTP_KEY)%'
    sftp_pass: '%env(SFTP_PASS)%'
    sftp_remote_path: '%env(SFTP_REMOTE_PATH)%'
    sftp_app_upload_path: '%env(SFTP_APP_UPLOAD_PATH)%'
    fuse_license_key: '%env(FUSE_LICENSE_KEY)%'
    fuse_x_functions_key: '%env(FUSE_X_FUNCTIONS_KEY)%'

