{
  "admin": true,
  "token_rsa_public_key": "JWT",
  "admin_password": "adm_password", 
  "admin_secret": "adm_secret",
  "api_key": "adm_api_key",
  "allowed_origins": ["adm_allowed_origins"],
  "engine": "adm_redis",
  "redis_address": "address_redis",
  "log_level": "debug",
  "publish": true,
  "anonymous": true,
  "presence": true,
  "join_leave": true,
  "recover": true,
  "history_size": 1000,
  "history_ttl": "168h",
  "namespaces": [
    {
      "name": "dialogs",
      "publish": true,
      "anonymous": false,
      "presence": true,
      "join_leave": true,
      "recover": true,
      "history_size": 1000,
      "history_ttl": "168h"
    },
    {
      "name": "private",
      "publish": true,
      "anonymous": false,
      "presence": true,
      "join_leave": true,
      "recover": false,
      "history_size": 0
    },
    {
      "name": "team",
      "publish": true,
      "anonymous": false,
      "presence": true,
      "join_leave": true,
      "recover": false,
      "history_size": 0
    }
  ]
}
