[inet_http_server]
port=0.0.0.0:9002
username=user
password=123

[program:queue-voltage-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_voltage_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-voltage-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_voltage_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-voltage-3]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_voltage_3
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-areas-1]
command=php bin/console rabbitmq:consumer -vv -l 256 areas_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-areas-2]
command=php bin/console rabbitmq:consumer -vv -l 256 areas_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-areas-3]
command=php bin/console rabbitmq:consumer -vv -l 256 areas_3
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-towing]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_towing
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-towing-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_towing_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-towing-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_towing_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-overspeeding-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_overspeeding_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-overspeeding-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_overspeeding_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-engine-on-time-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_engine_on_time_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-engine-on-time-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_engine_on_time_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-panic-button]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_panic_button
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-events]
command=php bin/console rabbitmq:consumer -vv -l 256 events
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-sensor-event]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_sensor_event
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-io-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_io_1
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-io-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_io_2
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-io-3]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_io_3
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-routes-post-handle-1]
command=php bin/console rabbitmq:consumer -vv -l 256 routes_post_handle_1
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-moving-without-driver-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_moving_without_driver_1
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-moving-without-driver-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_moving_without_driver_2
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-moving-without-driver-3]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_moving_without_driver_3
directory=/srv
autostart=true
autorestart=true
startretries=5
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-battery-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_battery_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-battery-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_battery_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-long-driving-1]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_long_driving_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-long-driving-2]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_long_driving_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-long-standing-1]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_long_standing_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-long-standing-2]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_long_standing_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-moving-1]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_moving_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-moving-2]
command=php bin/console rabbitmq:consumer -v -l 256 --no-debug tracker_moving_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-today-data]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_today_data
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-today-data-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_today_data_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-today-data-2]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_today_data_2
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-engine-history-1]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_engine_history_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-tracker-streamax]
command=php bin/console rabbitmq:consumer -vv -l 256 tracker_streamax
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB

[program:queue-route-area-1]
command=php bin/console rabbitmq:consumer -vv -l 256 route_area_1
directory=/srv
autostart=true
autorestart=true
startretries=20
startsecs=0
user=root
numprocs=1
process_name=%(program_name)s_%(process_num)02d
stderr_logfile=/srv/var/logs/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stdout_logfile=/srv/var/logs/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB